// ----- Variables ----- //
$main-orange: #F26522
$main-blue: #0C2340
$secondary-orange: #f68026
$secondary-blue: #496e9c

body
  background: $main-blue
  display: block
  overflow: auto
  padding-top: 60px
  padding-bottom: 50px

html
	position: relative
	min-height: 100%

// ---- Navigation ----- //
.nav-wrapper
  width: 100%
  height: 60px
  background: white
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4)
  position: fixed
  top: 0
  z-index: 99

  img
    height: 40px
    margin: 10px

  .mobile-menu
    float: right
    display: none

    #menu-button
      text-transform: uppercase
      font-size: 14px
      display: block
      margin: 10px
      text-align: center
      padding: 11px 15px
      color: white
      text-decoration: none
      background: $main-orange
      border-radius: 10px
      width: 40px
      cursor: pointer

  .mobile-nav-links
    display: none

  .nav-links
    float: right
    line-height: 60px

    ul
      list-style: none
      margin: 0
      padding: 0 10px
      overflow: none

      li
        display: inline-block
        height: 60px
        position: relative
        overflow: none

        a
          font-family: Open Sans, sans-serif
          font-size: 14px
          color: $main-orange
          height: 100%
          line-height: 14px
          padding: 16px 10px
          text-decoration: none
          font-weight: bold
        a:hover
          border-bottom: 5px solid $main-orange

.ad-wrapper
  overflow: auto
  margin: 20px 0px
  width: calc(100% - 300px)
  //transition: width 0.3s ease-in
  //-webkit-transition: width 0.3s ease-in

  @media only screen and (max-width: 1540px)
    width: 100%

  .ad
    display: block
    width: 1200px
    margin: 0 auto

    @media only screen and (max-width: 1240px)
      width: calc(100% - 40px)

    @media only screen and (max-width: 600px)
      width: 100%

@media screen and (max-width: 655px)
  body
    padding-top: 60px

  .nav-wrapper
    height: 60px

    img
      height: 40px
      margin: 10px

    .mobile-menu
      display: block

    .nav-links
      display: none

    .mobile-nav-links
      height: 190px
      width: 100%
      background: white
      box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.4)
      margin-top: -5px
      display: none
      overflow: none
      float: right
      ul
        padding: 0
        list-style: none
        height: 100%
        margin: 10px 0

        li
          display: block
          overflow: none
          padding: 0
          margin: 0
          height: 40px
          text-align: right

          a
            font-family: Open Sans, sans-serif
            color: $main-orange
            display: block
            text-decoration: none
            font-weight: bold
            font-size: 18px
            padding: 8px 10px
            border-right: 5px solid white
          a:hover
            background: #eeeeee
            border-right: 5px solid $main-orange

// ----- Banner ----- //
.banner
  width: 100%
  height: 300px
  background: $secondary-blue
  margin: 10px 0 30px

.container
  max-width: 1280px
  height: 300px
  text-align: center
  display: block
  margin: 0 auto
  vertical-align: center

  #banner-title
    color: $main-orange
    font-family: Copperplate, serif
    font-weight: normal
    text-transform: uppercase
    font-size: 60px
    padding-top: 70px
    padding-bottom: 10px
    margin: 0
    text-shadow: white 0px 0px 5px, white 0px 0px 5px, white 0px 0px 5px, white 0px 0px 5px, white 0px 0px 5px, white 0px 0px 5px, white 0px 0px 5px, white 0px 0px 5px, white 0px 0px 5px, white 0px 0px 5px, white 0px 0px 5px, white 0px 0px 5px

    span
      font-family: PT Mono, sans-serif
      font-weight: bold
      color: $main-blue
      font-size: 46px
  hr
    height: 1px
    color: white
    background: white
    width: 320px

  #banner-subtitle
    color: white
    font-family: Open Sans, sans-serif
    font-size: 24px
    margin: 0 40px
    padding-top: 12px

@media screen and (max-width: 900px)
  .banner
    height: 200px
    margin: 20px 0

  .container
    height: 200px

    #banner-title
      font-size: 40px
      padding-top: 40px
      margin: 0 20px

      span
        font-size: 30px
    hr
      width: 200px

    #banner-subtitle
      font-size: 16px

@media screen and (max-width: 670px)
  .banner
    height: 200px
    margin: 20px 0

  .container
    height: 200px

    #banner-title
      font-size: 20px
      padding-top: 40px
      margin: 0 20px

      span
        font-size: 15px
    hr
      width: 200px

    #banner-subtitle
      font-size: 16px

// ----- Sections ----- //
.sections
  max-width: 1280px
  margin: 0 auto
  overflow: auto

  .section-column
    width: 300px
    margin: 0 10px 40px
    background: white
    float: left
    box-shadow: black 0px 5px 20px 0px

    .section-heading
      width: 300px
      background: $main-orange
      box-shadow: black 0px 5px 20px 0px
      height: 60px
      margin: 0
      text-align: center

      h2
        color: white
        font-family: Open Sans, sans-serif
        font-weight: bold
        font-size: 24px
        padding: 12px 0
        margin: 0

    .section-body
      text-align: center
      margin: 10px 0
      overflow: hidden

      p
        font-family: Open Sans, sans-serif
        color: $secondary-blue
        font-size: 14px
        margin: 12px
        padding: 0

      hr
        width: 100px

    .section-button
      color: white
      display: block
      text-decoration: none
      text-align: center
      padding: 10px
      font-family: Open Sans, sans-serif
      font-size: 16px
      font-weight: bold
      background: $secondary-orange
      width: 200px
      margin: 0 auto
      border-radius: 10px
      box-shadow: black 0px 5px 20px 0px
      margin-bottom: -20px

    .section-button:hover
      box-shadow: none
      background: $main-orange

@media screen and (max-width: 1281px)
  .sections
    max-width: 640px

@media screen and (max-width: 641px)
  .sections
    max-width: 320px

// ----- About ----- //
.about-wrapper
  width: 1280px
  display: block
  overflow: auto
  margin: 20px auto

  .about-container
    width: 1260px
    display: block
    margin: 20px auto
    background: white
    box-shadow: black 0px 5px 20px 0px
    overflow: auto

    h2
      font-family: Open Sans, sans-serif
      font-size: 50px
      color: $main-orange
      margin: 10px 20px
      text-align: center

    p
      font-family: Open Sans, sans-serif
      font-size: 16px
      color: $main-blue
      margin: 20px 40px

    p#signature
      border-top: 1px solid $main-orange
      font-style: italic
      width: 280px
      padding-top: 20px
      font-size: 16px
      font-color: $main-blue

    a
      font-family: Open Sans, sans-serif
      color: $secondary-orange
      text-decoration: none
    a:hover
      color: $main-orange

@media screen and (max-width: 1281px)
  .about-wrapper
    width: 640px

    .about-container
      width: 620px

      h2
        font-size: 38px

@media screen and (max-width: 641px)
  .about-wrapper
    width: 320px

    .about-container
      width: 300px

      h2
        font-size: 30px

      p
        margin: 20px
        font-size: 14px

      p#signature
        width: 220px

// ----- Footer ----- //
footer.footer-wrapper
  position: absolute
  display: block
  bottom: 0
  width: 100%
  height: 50px
  background: $main-blue
  text-align: center
  margin-top: 20px

  #footer-text
    padding-top: 15px
    font-family: Open Sans, sans-serif
    font-size: 14px
    color: white
    margin: 0 20px

    a
      color: $secondary-orange
      text-decoration: none

@media screen and (max-width: 780px)
  footer.footer-wrapper
    height: 70px

  body
    padding-bottom: 70px

@media screen and (max-width: 425px)
  footer.footer-wrapper
    height: 90px

  body
    padding-bottom: 90px
