// ----- Variables ----- //
$main-orange: #dd550c
$main-blue: #03244d
$secondary-orange: #f68026
$secondary-blue: #496e9c

// ----- Results ----- //
.banner-wrapper
  width: 1280px
  display: block
  margin: 20px auto

  .banner-container
    width: 1260px
    display: block
    margin: 10px
    background: white
    box-shadow: black 0px 5px 20px 0px
    overflow: auto

    h2
      font-family: Open Sans, sans-serif
      font-size: 70px
      color: $main-orange
      margin: 10px 20px
      text-align: center

    .buffer
      display: block
      width: 300px
      margin: 20px 10px
      float: left

    .season-select-container
      width: 300px
      margin: 0px 10px 20px
      float: left
      display: block
      text-align: center
      background: $secondary-orange
      box-shadow: black 0px 5px 20px 0px

      p
        font-family: Open Sans, sans-serif
        font-size: 20px
        color: white
        margin: 10px

      select
        width: 260px
        margin: 5px 5px 10px

    .team-select-container
      width: 300px
      float: left
      display: block
      margin: 0px 10px 20px
      text-align: center
      background: $secondary-orange
      box-shadow: black 0px 5px 20px 0px

      p
        font-family: Open Sans, sans-serif
        font-size: 20px
        color: white
        margin: 10px

      select
        width: 260px
        margin: 5px 5px 10px

.top-container
  width: 1280px
  display: block
  margin: 20px auto

  .buffer
    display: block
    width: 310px
    margin: 20px 10px
    float: left

  .all-time-record
    width: 300px
    float: left
    margin: 10px
    background: $secondary-orange
    box-shadow: black 0px 5px 20px 0px

    .heading
      display: block
      width: 100%
      background: $main-orange

      h3
        font-family: Open Sans, sans-serif
        color: $main-blue
        font-size: 22px
        margin: 0
        padding: 7px 10px 10px

    p
      font-family: Open Sans, sans-serif
      font-size: 18px
      margin: 5px 10px
      color: white

  .season-record
    width: 300px
    float: left
    margin: 10px
    background: $secondary-orange
    box-shadow: black 0px 5px 20px 0px

    .heading
      display: block
      width: 100%
      background: $main-orange

      h3
        font-family: Open Sans, sans-serif
        color: $main-blue
        font-size: 22px
        margin: 0
        padding: 7px 10px 10px

    p
      font-family: Open Sans, sans-serif
      font-size: 18px
      margin: 5px 10px
      color: white
