// ----- Variables ----- //
$main-orange: #dd550c
$main-blue: #03244d
$secondary-orange: #f68026
$secondary-blue: #496e9c

// ----- Results ----- //
.banner-wrapper
  width: 1280px
  display: block
  margin: 20px auto

  .banner-container
    width: 1260px
    display: block
    margin: 20px auto
    background: white
    box-shadow: black 0px 5px 20px 0px
    overflow: auto

    h2
      font-family: Open Sans, sans-serif
      font-size: 70px
      color: $main-orange
      margin: 10px 20px
      text-align: center

    .buffer
      display: block
      width: 300px
      margin: 0px 10px 20px
      float: left

    .season-select-container
      width: 280px
      margin: 0px 10px 20px
      float: left
      display: block
      text-align: center
      background: $secondary-orange
      box-shadow: black 0px 5px 20px 0px

      p
        font-family: Open Sans, sans-serif
        font-size: 20px
        color: white
        margin: 10px

      select
        width: 260px
        margin: 5px 5px 10px

    .team-select-container
      width: 280px
      float: left
      display: block
      margin: 0px 10px 20px
      text-align: center
      background: $secondary-orange
      box-shadow: black 0px 5px 20px 0px

      p
        font-family: Open Sans, sans-serif
        font-size: 20px
        color: white
        margin: 10px

      select
        width: 260px
        margin: 5px 5px 10px

  .top-container
    width: 1260px
    display: block
    overflow: auto
    margin: 20px auto

    .buffer
      display: block
      width: 300px
      margin: 10px
      float: left

    .all-time-record
      width: 280px
      float: left
      margin: 0 10px
      background: $secondary-orange
      box-shadow: black 0px 5px 20px 0px

      .heading
        display: block
        width: 100%
        background: $main-orange

        h3
          font-family: Open Sans, sans-serif
          color: $main-blue
          font-size: 21px
          margin: 0
          padding: 7px 10px 10px

      p
        font-family: Open Sans, sans-serif
        font-size: 18px
        margin: 5px 10px
        color: white

    .season-record
      width: 280px
      float: left
      margin: 0 10px
      background: $secondary-orange
      box-shadow: black 0px 5px 20px 0px

      .heading
        display: block
        width: 100%
        background: $main-orange

        h3
          font-family: Open Sans, sans-serif
          color: $main-blue
          font-size: 21px
          margin: 0
          padding: 7px 10px 10px

      p
        font-family: Open Sans, sans-serif
        font-size: 18px
        margin: 5px 10px
        color: white

  .main-container
    display: block
    clear: both
    overflow: auto
    width: 1260px
    margin: 20px auto
    background: white
    box-shadow: black 0px 5px 20px 0px

    h3
      font-family: Open Sans, sans-serif
      font-size: 24px
      color: $main-orange
      text-align: center
      margin: 10px 15px

    .opponent-stat-block
      width: 620px
      display: block
      margin: 0px auto
      overflow: auto
      padding-left: 10px

      p.opponent-stat
        display: block
        width: 190px
        float: left
        margin: 10px 10px 25px 0px
        background: $secondary-orange
        color: white
        text-align: center
        font-family: Open Sans, sans-serif
        font-size: 24px
        padding: 5px 0px
        box-shadow: black 0px 5px 20px 0px

        strong
          display: block
          font-size: 18px
          background: $main-orange
          color: $main-blue
          padding: 5px 10px 7px
          margin-top: -5px

      p.first
        margin-right: 15px

    table
      width: 1112px
      border: 3px solid $secondary-blue

      th
        font-family: Open Sans, sans-serif
        color: white
        font-size: 18px
        background: $secondary-blue
        padding: 5px 10px

      .date
        width: 100px
        text-align: left

      .opponent
        width: 220px
        text-align: left

      td
        font-family: Open Sans, sans-serif
        font-size: 16px
        font-weight: bold
        padding: 5px 10px
        color: $main-blue
        text-align: center
        border-right: 3px solid $secondary-blue
        border-bottom: 3px solid $secondary-blue

        a
          text-decoration: none
          color: $main-orange
        a:hover
          color: $secondary-orange


      .left
        text-align: left

      .stats
        width: 94px

      tr:hover
        background: #dddddd

    .table-container
      overflow-x: auto
      display: block
      width: 1112px
      margin: 0 auto 15px

@media screen and (max-width: 1280px)
  .banner-wrapper
    width: 640px

    .banner-container
      width: 620px

      h2
        font-size: 38px

      .buffer
        width: 10px
        margin: 10px 0px

    .top-container
      width: 620px

      .buffer
        width: 10px
        margin: 10px 0px

    .main-container
      width: 620px

      .table-container
        width: 600px
        margin: 0 10px 15px

@media screen and (max-width: 640px)
  .banner-wrapper
    width: 320px

    .banner-container
      width: 300px

      h2
        font-size: 30px

      .buffer
        display: none

    .top-container
      width: 300px

      .buffer
        display: none

      .all-time-record
        margin: 0 10px 20px

    .main-container
      width: 300px

      .opponent-stat-block
        width: 210px
        padding-left: 15px

        p.first
          margin-right: 10px

      .table-container
        width: 280px
        margin: 0 10px 15px
