// ----- Variables ----- //
$main-orange: #dd550c
$main-blue: #03244d
$secondary-orange: #f68026
$secondary-blue: #496e9c

#submit-menu
  width: 200px
  height: 200px
  display: block
  box-shadow: black 0px 5px 20px 0px
  margin: 20px auto
  background: white
  padding: 10px 0 30px

  a
    display: block
    text-align: center
    width: 150px
    height: 25px
    color: white
    font-size: 18px
    text-decoration: none
    background: $main-orange
    box-shadow: black 0px 5px 20px 0px
    padding-top: 5px
    margin: 20px auto
    border-radius: 10px
